<div class="d-flex flex-column p-3 bg-dark grid-sidebar">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link link-light"> Productos </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light"> Clientes </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light"> Servicio Tecnico </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light"> Nosotros </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light"> Contacto </a>
    </li>
  </ul>
</div>
