/* You can add global styles to this file, and also import other style files */

.grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 10% auto;
  grid-template-areas:
    "toolbar toolbar"
    "sidebar main";
}

.grid-sidebar {
  grid-area: sidebar;
}

.grid-main {
  grid-area: main;
}

.grid-toolbar {
  grid-area: toolbar;
}
body {
  background-color: rgb(74, 74, 74);
}
